.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Merriweather', serif;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #eab18d;
}

h2 {
  font-size: 2.5rem;
  color: #eab18d;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 2.5rem;
  color: #bdb6c2;
  font-family: 'Sacramento', cursive;
}

img {
  width: 85%;
}

footer {
  margin-top: 5%;
  color: #7896b7;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 2rem

}
